{% extends "base.html" %}

{% block content %}
<h1>API UNDER CONSTRUCTION ;)</h1>
<div style="text-align: left;">
  <ul>
    <li>US</li>
    <ul>
      <li><a href="https://bg9p9o.deta.dev/base">Base</a></li>
      <li><a href="https://bg9p9o.deta.dev/drive">Drive</a>
      <li><a href="https://bg9p9o.deta.dev/micro">Micro</a>
    </ul>
    <li>EUROPE</li>
    <ul>
      <li><a href="https://kk9jl4.deta.dev/base">Base</a></li>
      <li><a href="https://kk9jl4.deta.dev/drive">Drive</a>
      <li><a href="https://kk9jl4.deta.dev/micro">Micro</a>
    </ul>
    <li>ASIA</li>
    <ul>
      <li><a href="https://bvyxi0.deta.dev/base">Base</a></li>
      <li><a href="https://bvyxi0.deta.dev/drive">Drive</a>
      <li><a href="https://bvyxi0.deta.dev/micro">Micro</a>
    </ul>
  </ul>
</div>
{% endblock %}