{% extends "base.html" %}

{% block content %}
<h1>API UNDER CONSTRUCTION ;)</h1>
<div style="text-align: left;">
  <ul>
    <li>NORTH AMERICA - US</li>
    <ul>
      <li><a href="https://deta-status-us.deta.dev/results/base">Base</a></li>
      <li><a href="https://deta-status-us.deta.dev/results/drive">Drive</a>
      <li><a href="https://deta-status-us.deta.dev/results/micro">Micro</a>
    </ul>
    <li>EUROPE - GERMANY</li>
    <ul>
      <li><a href="https://deta-status-germany.deta.dev/results/base">Base</a></li>
      <li><a href="https://deta-status-germany.deta.dev/results/drive">Drive</a>
      <li><a href="https://deta-status-germany.deta.dev/results/micro">Micro</a>
    </ul>
    <li>ASIA - SINGAPORE</li>
    <ul>
      <li><a href="https://deta-status-singapore.deta.dev/results/base">Base</a></li>
      <li><a href="https://deta-status-singapore.deta.dev/results/drive">Drive</a>
      <li><a href="https://deta-status-singapore.deta.dev/results/micro">Micro</a>
    </ul>
    <li>ASIA - INDIA</li>
    <ul>
      <li><a href="https://deta-status-india.deta.dev/results/base">Base</a></li>
      <li><a href="https://deta-status-india.deta.dev/results/drive">Drive</a>
      <li><a href="https://deta-status-india.deta.dev/results/micro">Micro</a>
    </ul>
    <li>SOUTH AMERICA - BRAZIL</li>
    <ul>
      <li><a href="https://deta-status-brazil.deta.dev/results/base">Base</a></li>
      <li><a href="https://deta-status-brazil.deta.dev/results/drive">Drive</a>
      <li><a href="https://deta-status-brazil.deta.dev/results/micro">Micro</a>
    </ul>
  </ul>
</div>
{% endblock %}
