<!DOCTYPE html>
<html lang="en">
  <head>
    {% block head %}
    <title>{% block title %}Deta Status{% endblock %}</title>
    <meta name="description" content="Service uptime tracker for Deta." />
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="shortcut icon" href="/static/favicon.ico" />
    <link rel="stylesheet" href="/static/style.css?v=1.0.3" />
    {% endblock %}
  </head>

  <body>
    <div id="content">
      {% block content %}
      {% endblock %}
    </div>

    <footer>
      {% block footer %}
      <div class="container footer-content">
        <p class="deta">
          Deployed on
          <a href="https://www.deta.sh/" target="_blank" rel="noopener">Deta 🚀</a>
        </p>
        <nav>
          <ul class="nav__links">
            <li>
              <a href="https://github.com/LemonPi314/deta-status" target="_blank" rel="noopener">GitHub</a>
            </li>
            <li>
              <a href="/api">API</a>
            </li>
          </ul>
        </nav>
      </div>
      <p>This service is unofficial and not affiliated with Deta or Abstract Computing UG.</p>
      {% endblock %}
    </footer>

    {% block scripts %}
    {% endblock %}
  </body>
</html>
